#bodymain table {
 border-collapse: collapse;
 width: 98%;
 margin: 5px;
}

#bodymain table tr th {
 background: #0e8914;
 color: #fff;
 font-weight: bold;
 text-align:center;
 border-right: 1px solid;
 font-size: 12px;
}

#bodymain table tr td {
 padding: 1px 1px 1px 5px;
 overflow:hidden;
 font-size: 12px;
}

#bodymain table tr td * {
 padding: 1px 1px 1px 5px;
}

#bodymain table tr td {
 background-color: #b0e96c;
}

#bodymain table tr:hover td {
 background-color: #f1ed82;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   //background:#999;
   text-align:center;
   background: rgba(163, 239, 152, 0.8)
}
#body{
    top: 50px;
}